.modal-view {
  display: flex;
  margin: 10% auto;
  width: 746px;
  height: 529px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  overflow: hidden;
}

.mv-left {
  width: 200px;
  height: 100%;
  background: #F4F6F8;
  padding: 1rem;
}

.mv-left h4 {
  text-align: center;
}

.mv-left li {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
}

.mv-left li:hover {
  background: #fff;
  border-radius: 8px;
}

.mv-add {
  display: flex;
  align-items: center;
  color: #767676;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2rem;
}

.mv-add span {
  margin-right: 0.5rem;
  font-size: 28px;
  font-weight: 500;
}

.mv-right {
  padding: 3rem;
}

.mv-super-input {
  border-bottom: 1px solid #767676;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.mv-super-input input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.mv-list {
  margin-bottom: 1.5rem;
}